@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #264653;
    --background: #f4faff;
    --background-light-hover: #26262608;
    --background-light-active: #2626260f;
    --background-dark-hover: #26465310;
    --background-dark-active: #2646531a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #264653;
        --background: #f4faff;
    }
}

* {
    user-select: none;
}

body {
    color: var(--foreground);
    background-color: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.button-icon-light,
.button-icon-dark,
.button-icon-light *,
.button-icon-dark * {
    cursor: pointer;
}
.button-icon-light:hover {
    background-color: var(--background-light-hover);
}
.button-icon-light:hover * {
    background-color: transparent;
}
.button-icon-light:active {
    background-color: var(--background-light-active);
}
.button-icon-light:hover * {
    background-color: transparent;
}

.button-icon-dark:hover {
    background-color: var(--background-dark-hover);
}
.button-icon-dark:hover * {
    background-color: transparent;
}
.button-icon-dark:active {
    background-color: var(--background-dark-active);
}
.button-icon-dark:hover * {
    background-color: transparent;
}

/* ::selection {
    background-color: transparent;
} */
